.GEN-CAR-delete-button1{
  background-color: #be0404;

padding:4px;
  font-family:'roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  width: 150px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 20%;
}
.fingeraterscan{
  margin-top: 20px;
}