.GEN-CAR-delete-button1{
  background-color: #be0404;
  margin-top: 20px;

  font-family:'roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  width: 200px;
  font-size: 1rem;
  margin-top: 20%;
}
.fingeraterscan{
  margin-top: 20px;
}