

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.formfineop{

  margin: 10px;
  display: flex;
  flex-direction: column;
}
.typdatefine{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.typdatefineppol{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
  text-align: flex-start;
  width: 100%;
  margin-bottom: 30px;
}
.typdatefine1o{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.isufin{
  margin-right: 10px;
}
.isufin1{
  width: 27.5%;
}
.mainformfindid{
  width: 98%;
  margin-left: 20px;
}


.typdatefine1o button{
  margin-right: 10%;
}

.finadopsmuchh{
  margin-left: 20px;
  font-family:'Inter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  color: blue;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters.css-1c35hjw-MuiPaper-root-MuiAccordion-root{
  border: 1px solid rgb(40, 38, 38);
  margin-bottom: 50px;

}

.trfingerefrat th{
  font-family:'Inter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  height: 40px;
  font-size: 1.1rem;
  border-right: 1px solid rgb(255, 255, 255);

  text-align: center;


}
.trfingerefrat:hover{
  background-color: rgb(63, 63, 63);
}
.trfingerefratth thead{
  background-color: rgb(63, 63, 63);
}
.trfingerefratth thead:hover{
  background-color: rgb(63, 63, 63);
}
.exportisod{
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
}
.mainexarjo{
  width: 80%;
}

.trfingerefratth td{
  border-right: 1px solid rgb(209, 207, 207);
  border-bottom: 1px solid rgb(209, 207, 207);
}
.css-11jnun4-MuiStack-root{
  margin-left: 10px;

}


.css-sghohy-MuiButtonBase-root-MuiButton-root{
  font-weight: 200;

}
.modal-backdrop1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 125vw;
  
  height: 125vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container1 {
  position: relative; /* Ensure child elements can be absolutely positioned relative to this container */
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1050;
}
/* Add styling for animation */
.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}

.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.sedfineook{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 5px;
  padding-left: 0px;
  padding-right: 0px;
  width: 200px;
  background-color: #0843bf;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-right: 30px;
  margin-top: 20px;
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#closessd{
  
  float: right;
    font-size: 1.1rem;
    cursor: pointer;
    background: rgb(251, 199, 199);
    color: black;
    cursor: pointer;
    padding: 10px 5px;
    padding-left: 0px;
    padding-right: 0px;
    width: 200px;
}

.typdatefinevvb{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.isufinvvb{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.isufinvvb4{
  display: flex;
  justify-content: flex-end;

  height: 50px;
}
.isufinvvb{
  height: 60px;
}
.typdatefinevvbisufinvvb{
  color: #0843bf;
  font-weight: 500;
  font-size: 1.3rem;
}

